
/* Your CSS Code here. */
 ul {
            list-style-type: none;
            display: flex;
            gap: 20px;
        }
        li {
            text-align: center;
        }
        img {
            width: 200px;
            height: auto;
            border-radius: 10px;
        }